@import "../assets/styles/variables.scss";

.layout-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin: 50px;
  width: 80vw;
}

.label {
  width: 50%;
  margin: 20px;
}

.footer {
  position: absolute;
  height: 40px;
  bottom: 10px;
  z-index: 1;

  @media (max-width: $breakpoint-tablet) {
    height: 30px;
    bottom: 5px;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 20px;
    // bottom: 4px;
  }
}
